/*******************ELEMENT TAG******************/
body {
  font-family: 'Montserrat';
}

h2, h3 {
  font-family: "Montserrat-bold", sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
  line-height: 1.3;
  color: #000;
}

/****************************************** ID AND CLASS TAG**************************************/
/******************TITLE SECTION *****************/
#title {
  background-color: #ff4c68;
  color: #fff;
  position: relative;
}

.heading-title {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/********************** navigation bar*********************/
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}

/******** Dwonload Buttons in title section*********/
.btn-download {
  margin: 5% 5% 3% 0;
  border-radius: 5px;
}

/* titel image */
.title-image {
  width: 21%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/***************************** features ***************************/
#features {
  position: relative;
  z-index: 1;
  line-height: 1.5;
  text-align: center;
  padding: 7% 15%;
  background: #fff;

}

.features-icon {
  font-size: 3.5rem;
  color: #ef8172;
}

.features-icon:hover {
  color: #ff4c68;
}

.features-box {
  text-align: center;
  padding: 7%;
}

.features-box h3 {
  font-weight: bolder;
  font-family: "Montserrat-dark", sans-serif;
}

.features-box p {
  font-family: "Montserrat-dark", sans-serif;
  color: grey;
}

/***************************** testimonial section**************************/
#testimonials {
  background: #ef8172;
  text-align: center;
}

.testimonial-slide {
  padding: 7% 15%;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.testimonial-slide h2 {
  font-family: "Montserrat-bold", sans-serif;
  font-weight: bolder;
  font-size: 2.5rem;
  line-height: 1.3;
  color: #fff;
}

#press {
  padding-bottom: 3%;
  background: #ef8172;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 25px;
}

/****************************Pricing section*******************************/
#pricing {
  padding: 7% 15%;
  text-align: center;
}

.pricing-column {
  padding: 5% 2%;
}

/* cta section */
#cta {
  padding: 7% 15%;
  background: #ff4c68;
  line-height: 1.5;
  text-align: center;
}

.cta-heading {
  font-size: 3.5rem;
  font-family: "Montserrat-Bold", sans-serif;
  color: #fff;
}

.cta-download-btn {
  margin: 5% 5% 3% 0;
  border-radius: 5px;
}

/*******************************footer section*************************/
#footer {
  padding: 8% 15% 15%;
  text-align: center;
  background: #fff;
  font-family: "Ubuntu", sans-serif;
  color: grey;
}

.social-icon {
  margin: 3% 2%;
  font-size: 1.6rem;
  color: black;
}

.social-icon:hover {
  color: grey;
}

.copy-write-para {
  margin-top: 25px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

/************************************** media query ***********************************/
@media (max-width:1140px) {
  #title {
    text-align: center;
  }

  .btn-download {
    margin: 0;
  }

  .title-image {
    transform: rotate(0deg);
    position: static;
    width: 50%;
    padding-top: 10%;
  }
}
